#navbar{
    display:flex;
    justify-content:space-between;
    border:2px solid white;
    background: linear-gradient(to bottom right, #ff9966, #66ccff);
    position:fixed;
    padding:12px;
    top: 0px;
    right: 0px;
    left:0px;
    height: 5vh;
    padding-bottom: 40px;
}

#main{
  display:flex;
  justify-content: space-between;
  margin-left:20%;
  margin-right:10%;
  padding-top:5px;
  padding-bottom: 20px; 
}

#king{
    display:flex;
    justify-content:space-between;
    color: white;
   }
   
#samrat{
    display:flex;
    justify-content:space-between;
    border:2px solid white;
}

#vishal{
    display:flex;
    justify-content: space-between;
    width: 100vw;
}

#karna{
    display:flex;
    justify-content: space-between;
}

#hsc{
    display:flex;
    justify-content:space-between ; 
}

#rohit{
    display:flex;
    justify-content: space-between;
}

#ul1,#ul2{
    display:flex;
    justify-content: space-between;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 3px; 
  }
  
  .item {
    background-color: #ff9966;
    padding: 20px;
    text-align: center;
    border:2px solid white;
    color: black;
  }

  .grid-container2 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 3px;
  }
  
  .item1 {
    background-color:#ff9966;
    padding: 20px;
    text-align: center;
    border: 2px solid white;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    color: black;
  }
  
  .item2 {
    background-color:#ff9966;
    padding: 20px;
    text-align: center;
    border: 2px solid white;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    color:black;
  }
  
  .item3 {
    background-color:#ff9966;
    padding: 20px;
    text-align: center;
    border: 2px solid white;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    color:black;
  }

.grid-container3{
  display:grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap:3px;
  color: #ffffff;
}

.iteam4,.iteam5,.iteam6{ background-color: lightblue;
  padding: 20px;
  text-align: center;
}

 #raju{
  box-shadow: 10px 10px 20px #babecc,-10px -10px 20px #ffffff;
  margin-left: 30%;
 }

 #raju1{
  box-shadow: 10px 10px 20px #babecc,-10px -10px 20px #ffffff; 
  margin-left: 30%;
 }
 
 #info{
  color:white;
 }

#footer{
  display: flex;
  justify-content: space-between;
}
      
    
                    
                
            
        
    
  
  